.block_rss_client .list li:first-child {
    border-top-width: 0;
}

.block_rss_client .content li {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 0;
}

.skipregions {
    background-color: #FFFFFF;
    padding-top: 15px;
    >a.btn-default {
        background-color: @brand-primary;
        color: #FFFFFF;
    }
}
