.breadcrumb {
    background-color: #FFFFFF;
}

.breadcrumb-nav {
    margin-bottom: 0;
}

@media (max-width: @screen-sm-min) {
    .breadcrumb-button {
        float: left;
    }
}

form#coursesearchnavbar {
    float: left;
    padding-left: 15px;
}
