.stellar-card {
   background-color: #FFFFFF;
   border-color: @panel-default-border;
   border-style: solid;
   border-width: 2px;
   padding: 4px;
   margin-bottom: 6px;
}

.course-content ul.topics li.section,
.course-content ul.weeks li.section,
.forumheaderlist,
.userprofile,
.content > .subcategories {
    .stellar-card;
}
