div#region-main {    
    padding-bottom: 1px;
}

aside.block-region {
    background-color: @stellar-region-bg;
    padding-top: 15px;
}

header#page-header {
    background-color: @stellar-region-bg;
    margin-left: -15px;
    margin-right: -15px;
}

div#page-navbar {
    background-color: @brand-primary;
    padding: 4px 0 4px 0;
}

nav.breadcrumb-nav {
    ol.breadcrumb {
        background-color: @brand-primary;
        color: #FFFFFF;
        a:link, a:visited {
            color: #FFFFFF;
        }
    }
}

#moodle-navbar {
    border-color: @brand-primary;
}

.course-content {
}
