#region-main {
    .content {
        margin: 5px;
    }
    .sectionname {
        margin: 0 0 10px 0;
        white-space: normal;
    }
    ul, ol {
        padding-left: @list-margin-adjustment;
        overflow: visible;
    }
    .topics, .weeks, ul.section.img-text, .menu, .nav.nav-tabs {
        padding-left: 0;
    }
    .dimmed {
        .iconlarge {
            .grayscale(100%);
        }
    }
}
