.path-grade-report-grader {
    #fixed_column {
        margin-top: 4px;
    }
    #user-grades {
        margin-top: 20px;
    }
}

.nav-tabs {
    >li {
        >a {
            background-color: #FFFFFF;
        }
    }
    >li.active {
        >a,
        >a:hover {
            background-color: @brand-primary;
            color: #FFFFFF;
            font-weight: bold;
            text-decoration: none;
        }
    }
}

#page-grade-grading-manage {
    .actions {
        .action {
            width: 160px;
            white-space: normal;
            background-color: #FFFFFF;
        }
    }
}
