.navbar[role="navigation"] {
    margin-bottom: 0;
}

.navbar, .panel, .block .header {
    border-radius: 0;
}

img.sitelogo {
    height: 45px;
}

a.navbar-brand {
    padding-top: 0;
    text-decoration: none;
    h1 {
        margin-top: 5px;
    }
}

.navbar-inverse {
    border-color: #FFFFFF;
    border-width: 0 0 1px 0;
}

#moodle-navbar {
    border-color: @brand-primary;
}

.nav > li:last-child > a {
    padding-right: 0;
}

.navbar-right {
    margin-right: 0;
}
