.navbar[role="navigation"] {
    margin-bottom: 0;
}

.navbar, .panel, .block .header {
    border-radius: 0;
}

img.sitelogo {
    height: 45px;
}

.navbar-brand {
    padding-top: 0;
    a {
        text-decoration: none;
        h1 {
            margin-top: 5px;
        }
    }
}

.navbar-inverse {
    border-color: #FFFFFF;
    border-width: 0 0 1px 0;
}

#moodle-navbar {
    margin-right: -15px;
}

.nav > li:last-child > a {
    padding-right: 0;
}
