.path-mod-quiz {
    .questioncontainer {
        input[type="text"] {
            padding-bottom: 2px;
            padding-top: 2px;
        }
    }
}

#page-mod-quiz-edit {
    @media (max-width: @screen-sm-min) {
        div.quizcontents {
            float: none;
            width: 100%;
        }
        #block-region-side-pre,
        #block-region-side-post {
            clear: both;
        }
        div.question {
            div.content {
                div.points {
                    position: static;
                    float: right;
                }
                div.questioncontrols {
                    position: static;
                }
            }
        }
    }
    .questionbankwindow.block {
        @media (max-width: @screen-sm-min) {
            float: none;
            width: 100%;
        }
        div.header {
            background-color: @brand-primary;
            border-radius: 0;
        }
        table#categoryquestions {
            th {
                a {
                    color: #FFFFFF;
                }
            }
            input[type="checkbox"] {
                position: static;
            }
        }
    }
}
